In [4]:
# creation of the tupe datatype
first_tuple = ("Cuthbert Binns", "Helena Ravenclaw", "The Blood Baron","The Fat Friar","Myrtle Warren","Headless Nick")
print(first_tuple)
print("The Legth of the first_tuple is :: ",len(first_tuple))
print("The type of the first_tuple is :: ",type(first_tuple))
hetro_datatype_tuple = ("Cuthbert Binns", 88, True, 9.75, "Headless Nick")
print("The value of the hetro_datatype_tuple is :: ",hetro_datatype_tuple)

('Cuthbert Binns', 'Helena Ravenclaw', 'The Blood Baron', 'The Fat Friar', 'Myrtle Warren', 'Headless Nick')
The Legth of the first_tuple is ::  6
The type of the first_tuple is ::  <class 'tuple'>
The value of the hetro_datatype_tuple is ::  ('Cuthbert Binns', 88, True, 9.75, 'Headless Nick')

In [6]:
# accessing elements in the tuple
print(hetro_datatype_tuple[:4]) # accessing the first 4 elements from the tupple without mention of start index.
print(hetro_datatype_tuple[2:]) # Accessing element from the tuple after te 2nd index with 2d index element included
print(hetro_datatype_tuple[-1]) # accessing last element from list using negative indexing
print(hetro_datatype_tuple[2:5]) # accessing the subset of element using range
print(hetro_datatype_tuple[-4:-1]) # accessing from last 4 element from 4th Element included and first element of list excluded.

('Cuthbert Binns', 88, True, 9.75)
(True, 9.75, 'Headless Nick')
Headless Nick
(True, 9.75, 'Headless Nick')
(88, True, 9.75)

In [ ]:
# Managing the elements from the Tuple