In [1]:
import pandas as pd

In [2]:
# Create a static list with predefined values
ipl_list_instance = ['Chennai Super Kings',"is", 'Indian Premier League', 'based', 'chennai','tamilnadu',"Owned by", ' India Cements Limited']

In [3]:
df_instance = pd.DataFrame(ipl_list_instance)
print(df_instance)

                        0
0     Chennai Super Kings
1                      is
2   Indian Premier League
3                   based
4                 chennai
5               tamilnadu
6                Owned by
7   India Cements Limited

In [6]:
# Create a Dictionary of Lists in Python.
age_data = {'Name':['Harry', 'Sally'],'Age':[20, 15]}

In [7]:
age_dataframe = pd.DataFrame(age_data)
print(age_dataframe)

          Name  Age
0  Karthikeyan   20
1  Kathirvelan   15

In [12]:
# Modify the dictionary to have additional columns and rows
pl_df = {'Name':['Harry', 'Sally', "Cally"],'Age':[20, 15, 2],"Address":["Chennai", "Coimbatore", "Chennai"],
           "Qualification":["BE","BCA","BE"]}

In [13]:
pl_dataframe = pd.DataFrame(pl_df)
print(pl_dataframe)

    Name  Age     Address Qualification
0  Harry   20     Chennai            BE
1  Sally   15  Coimbatore           BCA
2  Cally    2     Chennai            BE

In [14]:
# Selecting Only two Columnbs from the dataframe
print(pl_dataframe[["Name","Address"]])

    Name     Address
0  Harry     Chennai
1  Sally  Coimbatore
2  Cally     Chennai

In [16]:
# reading data from the csv file using pandas
nike_dataframe = pd.read_csv("data/nba.csv", index_col ="Name")

In [17]:
nike_dataframe.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [18]:
# Retriving the row by refering the name, as we have an index set at Name.
jae_data = nike_dataframe.loc["Jae Crowder"]

In [19]:
print(jae_data)

Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: Jae Crowder, dtype: object

In [20]:
# Displaying Specific row from the dataframe
age_series = nike_dataframe["Age"]

In [22]:
print(age_series.head(2))

Name
Avery Bradley    25.0
Jae Crowder      25.0
Name: Age, dtype: float64

In [23]:
# Check if there are missing values in the dataframe.
nike_dataframe.isnull()

                Team  Number  Position    Age  Height  Weight  College  Salary
Name
Avery Bradley  False   False     False  False   False   False    False   False
Jae Crowder    False   False     False  False   False   False    False   False
John Holland   False   False     False  False   False   False    False    True
R.J. Hunter    False   False     False  False   False   False    False   False
Jonas Jerebko  False   False     False  False   False   False     True   False
...              ...     ...       ...    ...     ...     ...      ...     ...
Shelvin Mack   False   False     False  False   False   False    False   False
Raul Neto      False   False     False  False   False   False     True   False
Tibor Pleiss   False   False     False  False   False   False     True   False
Jeff Withey    False   False     False  False   False   False    False   False
NaN             True    True      True   True    True    True     True    True

[458 rows x 8 columns]

In [27]:
# How to iterate over rows and columns in Pandas
for first, second in nike_dataframe.head(3).iterrows():
    print(second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object
Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: Jae Crowder, dtype: object
Team           Boston Celtics
Number                   30.0
Position                   SG
Age                      27.0
Height                    6-5
Weight                  205.0
College     Boston University
Salary                    NaN
Name: John Holland, dtype: object